.inside_selector {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 146px;
  align-items: center;
  border-radius: 0 0 8px 8px;
  button {
    height: 124px;
    margin: 11px;
    border-radius: 8px;
    border: 1px solid #dfdfdf;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .inside_selector {
    button {
      height: 64px;
      img {
        width: 60px;
      }
    }
  }
}
