.App_box {
  text-align: center;
  width: 486px;
  background-color: #fff;
  margin: 40px 0 40px 0;
  border-radius: 8px;
  border: 2px solid #dfdfdf;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .title {
    background-color: #f3f4f6;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 700;
    border-radius: 8px 8px 0 0;
  }
}

@media only screen and (max-width: 600px) {
  .App_box {
    width: 100%;
    .title {
      font-size: 18px;
    }
  }
}
