.App_box {
  text-align: center;
  width: 486px;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #dfdfdf;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  .title {
    background-color: #f3f4f6;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 700;
    border-radius: 8px 8px 0 0;
  }
}

@media only screen and (max-width: 600px) {
  .App_box {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    .title {
      font-size: 18px;
    }
  }
}
